.top-body {
    padding-top: 400px;
    text-align: center;
}

.inventory-table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

.inventory-table th,
.inventory-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.inventory-table th {
    background-color: #4CAF50;
    color: white;
}